@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.formNav{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.formNav p {
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Lato' !important;
    color: #333333 !important;
}
.formContainer{
    width: 52.12%;
    background: #FFFFFF;
    border:1px solid #707070;
    border-radius: 8px;
    margin:0 auto;
    
}
.form{
    height: 80vh;
    overflow-y: auto;
}
.form::-webkit-scrollbar {
    display: none;
    }
  
.formInsideContainer{
    width:88.76% ;
    margin:30px auto;
}
.textstyle{
    width: "47%" !important;
}
.checkbox{
    font-family: 'Lato' !important;
}
.Buttun_style{
    display: flex;
    justify-content: flex-end;
}
.form_Text_Style{
    font-size: 30px !important;
    font-family: 'Lato' !important;
}
.lineStyle{
    width: "100%";
	height: 3;
	background-color: "#4F4A98";
	margin-bottom: 20;
}