
.navlink{
    height: 64px !important;
    margin-left: 20px !important;
	color: #FFFFFF8A !important;
    font-size: 16 !important;
    text-align:left !important;
    font-family: Dosis !important;
    text-transform:capitalize !important;
}
.navlinkActive{
    background-color: #0B294D !important;
    color: #FFFFFF !important;
    border-image: linear-gradient(to left, #0B294D 20%,#FFFFFF 15%,#FFFFFF 80%, #0B294D 25%) !important;
    border-bottom:3px solid #FFFFFF !important;
    border-image-slice:1 !important;
}